.dropzone {
    border: 2px dashed #656565;
    text-align: center;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.3;
}

.dropzone:hover {
    opacity: 1;
    transition: opacity 0.2s linear;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: initial;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 3px;
}

.dropzone .dz-preview .dz-image {
    border-radius: 3px;
}

.remove-button {
    width: 120px;
    height: 27px;
    background-color: #eaeaea;
    border: 1px solid #636363;
    border-radius: 3px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

