/*.container {*/
	/*margin-top: 10px;*/
/*}*/

/*.dz-filename {*/
	/*font-weight:bold;*/
/*}*/

/*.dz-success-mark, .dz-error-mark {*/
	/*display: none;*/
/*}*/

/*.dz-remove {*/
	/*display: block;*/
	/*text-align: center;*/
/*}*/

/*.dz-details {*/
	/*border-bottom: 1px solid LightGray;*/
/*}*/

/*.dz-progress {*/
	/*margin-top: 15px;*/
	/*background-color: #f5f5f5;*/
	/*border-radius: 3px;*/
/*}*/

/*.dz-upload {*/
	/*border-radius: 2px;*/
	/*display: block;*/
	/*background-color: #2ba6ca;*/
	/*height: 20px;*/
	/*width: 0%;*/
	/*text-align: center;*/
	/*color: white;*/
/*}*/

/*.dz-preview {*/
	/*display: inline-block;*/
	/*background-color: #fff;*/
	/*border: 1px dotted #000;*/
	/*border-radius: 3px;*/
	/*line-height: 1.5;*/
	/*margin: 10px 10px 21px;*/
	/*padding: 5px;*/
/*}*/

.dropzone {
	border: 2px dashed #656565;
	text-align: center;
	position: relative;
	/*height: 150px;*/
	font-size: 20px;
	cursor: pointer;
	opacity: 1;
}

.dropzone:hover {
	border: 2px dashed #000000;
	/*outline: LightGreen solid 4px;*/

	transition: opacity 0.2s linear;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-delay: initial;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
	border-radius: 5px;
}

.dropzone .dz-preview .dz-image {
	border-radius: 5px;
}

.remove-button {
	width: 120px;
	height: 27px;
	background-color: #eaeaea;
	border: 1px solid #636363;
	border-radius: 3px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

