<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC + Dropzone.js Example</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{../lib/bootstrap-3.1.1/css/bootstrap.min.css}"
          href="../lib/bootstrap-3.1.1/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{../lib/bootstrap-dialog/css/bootstrap-dialog.min.css}"
          href="../lib/bootstrap-dialog/css/bootstrap-dialog.min.css"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{../css/style.css}"
          href="../css/style.css"/>


    <script type="text/javascript"
            th:src="@{../lib/jquery/jquery-2.1.1.js}"
            src="../lib/jquery/jquery-2.1.1.js"></script>

    <script type="text/javascript"
            th:src="@{../lib/bootstrap-3.1.1/js/bootstrap.js}"
            src="../lib/bootstrap-3.1.1/js/bootstrap.js"></script>

    <script type="text/javascript"
            th:src="@{../lib/bootstrap-dialog/js/bootstrap-dialog.min.js}"
            src="../lib/bootstrap-dialog/js/bootstrap-dialog.min.js"></script>

    <script type="text/javascript"
            th:src="@{../lib/dropzone/dropzone.js}"
            src="../static/lib/dropzone`/dropzone.js"></script>

    <script type="text/javascript"
            th:src="@{../js/application.js}"
            src="../js/application.js"></script>

    <script type="text/javascript"
            th:src="@{../lib/object-hash/dist/object_hash.js}"
            src="../lib/object-hash/dist/object_hash.js"></script>

    <!--https://github.com/RobertFischer/JQuery-PeriodicalUpdater-->
    <script type="text/javascript"
            th:src="@{../lib/JQuery-PeriodicalUpdater/jquery.periodicalupdater.js}"
            src="../lib/JQuery-PeriodicalUpdater/jquery.periodicalupdater.js"></script>
    <script type="text/javascript"
            th:src="@{../lib/JQuery-PeriodicalUpdater/jquery.updater.js}"
            src="../lib/JQuery-PeriodicalUpdater/jquery.updater.js"></script>
</head>

<body>

<div>
    <p></p>
</div>

<div th:if="${uniqueKeyFound}">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>Spring MVC + Dropzone.js Example</h3>
            </div>
            <div class="panel-body">
                <div>
                    <form th:action="@{/upload/__${uniqueKey}__}"
                          method="post"
                          id="dropzone-form"
                          class="dropzone"
                          enctype="multipart/form-data">

                        <div class="dz-default dz-message file-dropzone text-center well col-sm-12">
                            <span class="glyphicon glyphicon-paperclip"></span>
                            <span>To attach files, drag and drop here</span>
                            <br/>
                            <span>OR</span>
                            <br/>
                            <span>Just Click</span>
                        </div>

                        <!-- this is were the previews should be shown. -->
                        <div class="dropzone-previews"></div>
                    </form>
                    <!--<hr>-->
                    <!--<button id="upload-button"-->
                    <!--class="btn btn-primary">-->
                    <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                    <!--</button>-->
                    <!--<a class="btn btn-primary pull-right" href="list"> <span-->
                    <!--class="glyphicon glyphicon-eye-open"></span> View All Uploads-->
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

</div>

<div th:unless="${uniqueKeyFound}">
    <h1 th:text="@{Given unique key __${uniqueKey}__ not found}"></h1>
</div>

</body>
</html>