<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/lib/dropzone/dropzone.css}"
          href="../static/lib/dropzone/dropzone.css"/>

    <link rel="stylesheet"
          th:href="@{/lib/dropzone/basic.css}"
          href="../static/lib/dropzone/basic.css"/>

    <script th:src="@{/lib/dropzone/dropzone.js}" src="../static/lib/dropzone/dropzone.js"></script>
</head>

<body>
<div th:if="${uniqueKeyFound}">
    <h1>Upload file</h1>

    <div id="dropzone">
        <form th:action="@{/upload/__${uniqueKey}__}" method="post" enctype="multipart/form-data"
              class="dropzone" id="yandex-disk-dropzone">
            <div class="dz-message">Drop files here or click to upload</div>
            <!--<input type="file" name="file"/><br/><br/>-->
            <!--<input type="submit" value="Submit"/>-->
        </form>
    </div>

</div>

<div th:unless="${uniqueKeyFound}">
    <h1 th:text="@{Given unique key __${uniqueKey}__ not found}"></h1>
</div>
</body>
</html>