<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>yandex disk</h2>

<form method="GET" action="/yandexDiskFileList" enctype="multipart/form-data">
    <button th:value="${currentPath} + '/..'" name="path">..</button>
</form>
<table class="table table-striped">
    <tr>
        <th>file name</th>
    </tr>
    <tr th:each="file : ${files}">
        <td th:text="${file.getPath().getFileName()}"></td>
        <td>
            <form method="GET" action="/yandexDiskFileList" enctype="multipart/form-data">
                <button th:value="${file.getPath()}"
                        name="path"
                        th:disabled="${file.isDirectory()} == false">
                    open
                </button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>